[Unit]
Description=gost
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=simple
User=root
DynamicUser=false
ExecStart=/usr/bin/gost -C /gost.yaml

[Install]
WantedBy=multi-user.target
